.header {
  background: none;
  box-shadow: none;

  .logo {
    width: 8rem;
    display: block;
  }

  &.MuiAppBar-colorInherit {
    background: none;
    box-shadow: none;
    transition: all .3s ease-in;

    &.sticky {
      background: $white;
      box-shadow: 0 0 20px 0px rgba($black, .2);

      .header {

        &-top {
          background: $grey-color-2;
        }

        &-bottom {
          padding: 1rem 0;
        }
      }
    }
  }

  &-top {
    background: none;
    padding: 0;
    color: $primary-color;
    transition: all .3s ease-in;

    a {
      color: $primary-color;
      display: flex;
      align-items: center;
      text-decoration: none;
      
      svg {
        margin-right: .8rem;
      }
    }

    .MuiToolbar-root {
      display: flex;
      justify-content: space-between;
      padding: 0;
      min-height: 0;
    }

    .flag-icon {
      margin-right: .5rem;
    }

    .MuiSelect-selectMenu,
    .MuiSelect-icon {
      color: $primary-text-color;
    }

    .MuiInput-underline {

      &::before {
        display: none;
      }
    }
    
  }

  &-bottom {
    padding: 1.5rem 0;
    transition: all .3s ease-in;

    .MuiContainer-root {
      display: flex;
      justify-content: space-between;      
    }    

    .header {

      &-menu {
        background: $white;
        z-index: 2;

        &__button {
          padding: 0;
          min-width: 4.8rem;
        }

        .MuiList-padding {
          padding: 0;
          min-width: 100%;
        }

        .MuiListItem-button {
          transition: background .3s ease-in;
          padding: 0;
          min-height: 0;

          a {
            display: block;
            padding: .6rem 1.6rem;
            width: 100%;
            color: $primary-text-color;
            text-transform: uppercase;
            text-shadow: 0 0 1px rgba($black, .2);

            &.MuiButton-root {
              padding: .6rem 1.6rem;
              color: $white;
            }
          }

          &:hover,
          &.active {
            
            & > a {
              color: $primary-color;
              
              &.MuiButton-root {
                color: $primary-color;
              }
            }
          }          

          &.has-sub {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;

            & > a {
              padding-right: 3.6rem;
            }

            &:hover {

              & > .MuiSvgIcon-root {
                transform: rotate(180deg);
              }

              & > .MuiList-padding {
                height: auto;
                overflow: visible;
                z-index: 2;
                visibility: visible;
                opacity: 1;
                transform: translate3d(0, 0, 0);
              }
            }

            .MuiSvgIcon-root {
              position: absolute;
              top: 0;
              right: 0;
              transition: transform .3s ease;

              &:hover {
                transform: rotate(180deg);

                & + .MuiList-padding {
                  height: auto;
                }
              }
            }

            .MuiListItem-button {
              padding: 0;
            }

            .MuiList-padding {
              height: 0;
              overflow: hidden;
              visibility: hidden;
              opacity: 0;
              transition: all .3s ease-out;
              transform: translate3d(0, 10%, 0);              
            }
          }
        }
      }
    }
  }
}

.main-navigation {

  a {
    text-decoration: none;
    font-weight: 500;
  }
}

.select-language {
  
  .MuiSelect-selectMenu {
    font-size: 1.2rem;
  }

  &__menu {
    padding: 0;
    margin-top: 1.5rem;

    .MuiMenu-list {
      padding: 0;
      background: $white;
      color: $primary-text-color;
      
      li {
        font-size: 1.2rem;

        &:hover {
          background-color: rgba($primary-color--light, .1);
          color: $primary-color--dark;
        }
      }

      .flag-icon {
        margin-right: .5rem;
      }
    }
  }
}

@include tablet-up {

  .header {

    &-bottom {

      .header {

        &-menu {
          background: none;
          
          &__button {
            display: none;
          }

          .MuiListItem-button {

            &:hover,
            &.active {
              
              a {
                background: none;
              }
            }

            &.has-sub {
              overflow: visible;

              .MuiList-root {
                position: absolute;
                top: 100%;
                background: $white;
                box-shadow: 2px 2px 8px 0px rgba($black, .1);

                .MuiListItem-button {

                  &:hover,
                  &.active {
                    
                    & > a {
                      background: rgba($primary-color--light, .1);
                    }
                  }
                }
              }

              .MuiList-padding {

                .sub-menu {
                  right: 100%;
                  top: 0
                }
              }
            }
          }
        }
      }
    }

    nav {
      align-self: center;
    }

    .main-navigation {
      display: flex;
      padding: 0;
    }
  }
}

@include desktop-up {

  .main-navigation {

    a {
      font-size: 1.2rem;
    }
  }
}


@include lg-desktop-up {
  .header {
    .MuiContainer-maxWidthLg {
      max-width: none;
    }
  }
}

// @include xlg-desktop-up {
//   .header {

//     &-bottom {

//       .header {

//         &-menu {

//           .MuiListItem-button {

//             &.has-sub {

//               .MuiList-padding {

//                 .sub-menu {
//                   right: auto;
//                   left: 100%;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }

//   }
// }